<div class="navbar">
  <a href="/" class="logo">
    L. K.
  </a>
  <nav>
    <ul>
      <li class="stroke-a"> <a class="stroke-link" data-width="50" data-height="10" href="./projects">
          projects
        </a>
        {% include "partials/_stroke.html" %}
      </li>
      <li class="stroke-a"> <a class="stroke-link" data-width="50" data-height="10" href="./about">
          about
        </a>
        {% include "partials/_stroke.html" %}
      </li>
      <li class="stroke-a"> <a class="stroke-link" data-width="50" data-height="10" href="./contacts">
          contacts
        </a>
        {% include "partials/_stroke.html" %}
      </li>
    </ul>
  </nav>
  <div class="burger">
    <div class="burger__line"></div>
    <div class="burger__line"></div>
  </div>
</div>